.ss-container {
  display: flex;
  padding: 20px;
}

.ss-form {
  flex: 1;
  padding-right: 20px;
  min-height: 450px;
}

.ss-map {
  flex: 1
}

#osm-map {
  margin-left: 10;
}

@media (max-width: 768px) {
  .ss-container{
    flex-direction: column-reverse;
  }
}